h1 { line-height: 1.5em; }
h2 { font-size: 1.2ex; }
h3 { word-spacing: 4ch; }
h4 { font-size: 10rem; }
h5 { border: 1px solid black; width: 30%; }

p {
margin: 0px auto;
border: 1px solid black;
width: 80%;
font-size: 3em;
text-indent: 20px;
}

#main {
font-size: 14px;
}
#main div {
font-size: 1.2em;
}
.sup {
    position: relative;
    bottom: 1ex;
}
.sub {
  position: relative;
  bottom: -1ex;
  }
  